h1 {
    font-family: Verdana;
    font-size: 40px;
    text-align: center;
    color: #F4661B;
    letter-spacing: 0.5em;
}

p {
    font-size: 20px;
    text-align: left;
    font-family: Verdana;
    width: 60%;
    padding-bottom: 20px;
}

body {
    background-color: #87cefa;
    text-align: center;
}
