h1 {
    font-size: 40px;
    text-align: center;
    color: #FFA500;
}

p {
    font-size: 20px;
    text-align: left;
    font-family: Verdana;
    width: 70%;
    padding-bottom: 20px;
}

body {
    background-color: #ffffff;
    text-align: center;
}
